"""{{ project_description }}"""


def main() -> None:
    """Main entry point of the {{ project_type }}."""
    print("Hello, you are running {{ project_name }}!")  # noqa: T201


if __name__ == "__main__":
    main()
