[project]
name = "{{ project_name_kebab_case }}"
version = "0.1.0"
description = "{{ project_description }}"
{%- if project_type == "package" %}
requires-python = ">={{ python_version }}"
{%- endif %}
dependencies = []

[project.optional-dependencies]
dev = [
  "copier",
{%- if typing %}
  "mypy",
{%- endif %}
  "{{ pre_commit_tool }}",
{%- if project_type == "app" %}
  "python-dotenv",
{%- endif %}
]

[tool.setuptools]
{%- if project_type == 'package' %}
package-dir = { "" = "src" }
{%- else %}
package-dir = { "" = "." }
{%- endif %}

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.ruff]
line-length = 88
{%- if project_name_snake_case == "project_template" %}
extend-exclude = [
  "*{{ '{{' }}*{{ '}}' }}*",
  "*{{ '{%' }}*{{ '%}' }}*",
]
{%- endif %}

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  "COM812",
  "D203",
  "D213",
  "S311",
]

{%- if typing %}

[tool.mypy]
ignore_missing_imports = true
{%- endif %}
{%- if with_conventional_commits %}

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "$version"
version_scheme = "pep440"
version_provider = "pep621"
update_changelog_on_bump = true
major_version_zero = true
{%- endif %}
