{
  "name":"{{ project_name_kebab_case }}",
  "image": "mcr.microsoft.com/devcontainers/python:3-{{ python_version }}",
  "postStartCommand":"rm -rf .venv && make git venv check",
  "customizations":{
    "vscode":{
      "extensions":[
        "GitHub.copilot-chat",
        "charliermarsh.ruff",
        "ms-azuretools.vscode-docker",
{%- if typing %}
        "ms-python.mypy-type-checker",
{%- endif %}
        "ms-python.python"
      ],
      "settings":{
        "editor.bracketPairColorization.enabled":true,
        "editor.codeActionsOnSave":{
          "source.fixAll":"explicit",
          "source.organizeImports":"explicit"
        },
        "editor.formatOnSave":true,
        "[python]":{
          "editor.defaultFormatter":"charliermarsh.ruff"
        },
        "python.terminal.activateEnvironment":true
      }
    }
  }
}
